@use "sass:math";

@function pxToRem($pixels) {
  @if math.is-unitless($pixels) {
    @return math.div($pixels, 16) + rem;
  } @else {
    @error 'Не используйте единицы измерение в rem(), только числа в пикселях'
  }
}
