@mixin hover($includeActiveEffect: true) {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }

  @if ($includeActiveEffect) {
    @media (any-hover: none) {
      &:active {
        @content;
      }
    }
  }
}
