$fontsPath: "/assets/fonts";

@font-face {
  font-family: "Golos Text";
  src: url("#{$fontsPath}/golos-text-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Golos Text";
  src: url("#{$fontsPath}/golos-text-500.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
